{% extends "layout.html" %}

{% block body %}
<main role="main">
    <div class="jumbotron jumbotron-pmtc">
        <div class="container">
            <h1 class="display-3">Post-Match Thread Creator</h1>
            <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container div-pmtc">
        <div class="row">
            <div class="col-md-4 lol">
                <h1>League of Legends</h1>
                <p><a class="btn btn-primary" href="/lol" role="button">Create thread &raquo;</a></p>
            </div>
            <div class="col-md-4 csgo">
                <h1>Counter-Strike</h1>
                <p><a class="btn btn-primary" href="/csgo" role="button">Create thread &raquo;</a></p>
            </div>
            <div class="col-md-4 overwatch">
                <h1>Overwatch</h1>
                <p><a class="btn btn-primary disabled" href="#" role="button">Create thread &raquo;</a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}