{% extends "layout.html" %}

{% block body %}
<div class="container" style="padding-top: 20px;">
    <div class="form-group">
        <form class="form-horizontal" method="POST" role="form">
            <div class="input-group mb-3">
                <input type="text" name="match-history" class="form-control" placeholder="Match history">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" value="Create">
                </div>
            </div>
        </form>
        {% if result %}
            <textarea name="result" style="width:100%; height: 500px;">{{ result }}</textarea>
        {% endif %}
    </div>
</div>
{% endblock %}